

#showcase .navbar ul li {
    padding:6px;
}

#showcase .navbar ul li a{
    font-size:100%;
}

#showcase .banner h3 {
    text-align:center;
}

#profile .profilePhoto {
margin:0 auto;
width:80%;
margin-top:30px;
}

#myWork {
    width:80%;
    margin:0 auto;
}

#myWork .itemsContainer {
    width:100%;
    margin:0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap:30px;
}

#myWork .itemsContainer .item {
    margin:0 auto;
}

#myWork .itemsContainer .item8 {
    grid-column: 1;
}

#contact-main .contact-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:30px;
    margin-bottom:300px;
}

#contact-main .contact-container form {
    display:block;
    padding:0;
    text-align:center;
}

#contact-main .contact-container form > * {
    margin: 0 auto;
    margin-bottom:20px;
    width:100%;
    padding: 20px;
}

#contact-main .contact-container form button {
    margin-top:20px;
}